/* Styling for the paragraph with ID 'b1' */
#b1 {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #232b2c; /* Light background */
    color: #ffffff; /* Ensure text is readable on dark background */
    max-width: 800px;
    margin: 40px auto; /* Center horizontally with space from top */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Styling for the body background */
body {
    background-image: url('../assets/bg-new2.jpg');
    background-size: cover;
    background-position: fill;
    background-repeat: no-repeat;
}