#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

<<<<<<< HEAD
#b1 {
=======
#b1, #b2 {
  padding: 10px;
>>>>>>> a1a3cd9bbcd26da137158ab2f40d54f32ae0becb
  text-align: center;

  color: #fdfdfd;
<<<<<<< HEAD
  max-width: 250px;
=======
  max-width: 90%; /* Change to 90% to ensure it fits on mobile screens */
>>>>>>> a1a3cd9bbcd26da137158ab2f40d54f32ae0becb
  border-radius: 10px;
  margin: auto;
  font-family: Playwrite DK Loopet;
  font-size: 40px;
  line-height: 1.6;
  display: block;
  margin-top: 80px;
}

<<<<<<< HEAD
#b2 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fdfdfd;
  max-width: 250px;
  border-radius: 10px;
  margin: auto;
  font-family: Playwrite DK Loopet;
  font-size: 40px;
  line-height: 1.6;
  display: block;
  margin-bottom: 10px;
}

=======
>>>>>>> a1a3cd9bbcd26da137158ab2f40d54f32ae0becb
.custom-navbar {
  background-color: #000000;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 1000;
}

.custom-navbar .brand-name {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: Playwrite DK Loopet;
  font-weight: bold;
  transition: color 1s ease;
}

.custom-navbar .brand-name:hover {
  color: #d4af37;
  transform: scale(1.1);
  transition: transform 1s ease;
  text-shadow: 0 0 5px #d4af37, 0 0 10px #d4af37, 0 0 15px #d4af37;
  filter: blur(0.5px);
  font-family: Playwrite DK Loopet;
  font-weight: bold;
  font-style: italic;
  font-size: 1.6rem;
}

.custom-navbar .nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
   font-family: Playwrite DK Loopet;
}

.custom-navbar .nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: transform 1s ease;
}

.custom-navbar .nav-links li a:hover {
  color: #d4af37;
  transform: scale(.3);
  transition: transform 1s ease;
  text-shadow: 0 0 5px #d4af37, 0 0 10px #d4af37, 0 0 15px #d4af37;
  filter: blur(0.5px);
  font-family: Playwrite DK Loopet;
  font-weight: bold;
  font-style: italic;
  font-size: 1.6rem;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  color: #edfeff;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .custom-navbar .nav-links {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000000;
    width: 100%;
    display: none;
    padding: 1rem 0;
  }

  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .container {
    flex-wrap: wrap;
    width: 100%; /* Adjust width to fit 100% on smaller screens */
  }
}

section {
  display: grid;
  grid-template-columns: 25% 30% 15% 25%;
  gap: 15px;
  place-content: center;
  grid-template-rows: 50% 50%;
  height: 80vh;
  min-height: 460px;
  padding: max(2vh, 1.5rem);
}

@media screen and (max-width: 890px) {
  .container img {
    margin: 15px auto;
    width: 90%;
    height: auto;
  }
  .tech-container {
    margin-top: auto;
  }
  section {
    height: 65vh;
  }
}

@media screen and (max-width: 500px) {
  .container img {
    margin: 15px auto;
    width: 90%;
    height: auto;
  }
  .tech-container {
    margin-top: auto;
  }
  .custom-navbar .brand-name {
    font-size: 15px;
  }
  section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 35%);
  }
}

@media screen and (max-width: 414px) {
  .tech-container {
    width: 100%; /* Ensures it fits horizontally */
    padding: 10px;
  }

  .tech-item {
    width: 80px; /* Makes tech items smaller for a compact view */
  }

  .tech-item img {
    width: 30px;
  }

  .tech-item p {
    font-size: 0.8rem;
  }

  .container img {
    width: 90%; /* Ensures images scale with the screen size */
    height: auto;
    margin: 10px auto;
  }
}

.tech-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
<<<<<<< HEAD
  background-color: rgba(35, 43, 44, 0.95);
  border-radius: 5px;
=======
  background-color: rgba(207, 195, 195, 0.5);
  border-radius: 20px;
  padding: 10px;
>>>>>>> a1a3cd9bbcd26da137158ab2f40d54f32ae0becb
  box-shadow: 0 4px 8px rgba(207, 195, 195, 0.2);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 100%; /* Full width on small screens */
}

.tech-item {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  margin: 15px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
<<<<<<< HEAD
  width: 120px;
=======
  width: 150px;
>>>>>>> a1a3cd9bbcd26da137158ab2f40d54f32ae0becb
  text-align: center;
}

.tech-item:hover {
  transform: scale(1.1);
}

.tech-item img {
  width: 50px;
}

.tech-item p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ffffff;
  text-align: center;
  font-family: Playwrite DK Loopet;
}

.tech-half {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 414px) {
  .tech-half {
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .tech-item {
    width: 100px;
    margin: 8px; 
    padding: 10px;
    text-align: center;
  }

  .tech-item img {
    width: 40px;
  }

  .tech-item p {
    font-size: 10px;
  }

  .container img {
    width: 250px;

  }
}