 #b2, #b3 {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif; 
}

body {
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.cy_jpg {
    border-radius: 200px;
    padding: 20px;
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .imagecontainer {
    display: flex;
    justify-content: center;
  }


.navs {
    width: 100%;
    display: flex;
    justify-content: end;
    
}

.navs li {
    display: inline-block;
    
}

.navs li a{
    color: antiquewhite ;
    margin-right: 2.5rem;
}
